/* Ajout d'un container pour afficher sur une ligne le checker */
.input-container { 
  display: flex; /* Définit l'affichage en flexbox */
  align-items: center; /* Aligne les éléments au centre verticalement */
}

.validation-indicator { 
  display: none; /* Masque l'indicateur de validation par défaut */
  color: green; /* Définit la couleur du texte en vert */
  font-weight: bold; /* Met le texte en gras */
  margin-left: 10px; /* Ajoute une marge à gauche de 10px */
}

.validation-indicator.valid { 
  display: inline; /* Affiche l'indicateur de validation quand il a la classe 'valid' */
}

/* Ajout d'un validateur css visuel */
.formData[data-error]::after { 
  content: attr(data-error); /* Affiche le message d'erreur contenu dans l'attribut data-error */
  font-size: 1rem; /* Définit la taille de la police à 1rem */
  color: #e54858; /* Définit la couleur du texte en rouge */
  display: block; /* Affiche le message d'erreur en bloc */
  text-align:left; /* Affiche le texte à gauche */
  opacity: 0; /* Masque le message d'erreur par défaut */
  transition: opacity 0.3s; /* Ajoute une transition pour l'opacité de 0.3s */
  white-space: pre-wrap; /* Permet de conserver les sauts de ligne et force les retours à la ligne */
}

.formData[data-error-visible="true"]::after { 
  opacity: 1; /* Affiche le message d'erreur quand data-error-visible est 'true' */
}

.formData[data-error-visible="true"] .text-control { 
  border: 2px solid #e54858; /* Ajoute une bordure rouge de 2px aux champs de texte en erreur */
}

.validation-indicator { 
  display: none; /* Masque l'indicateur de validation par défaut */
  color: green; /* Définit la couleur du texte en vert */
  font-weight: bold; /* Met le texte en gras */
  margin-left: 10px; /* Ajoute une marge à gauche de 10px */
}

.validation-indicator.valid { 
  display: inline; /* Affiche l'indicateur de validation quand il a la classe 'valid' */
}

/* Ajout d'un container pour afficher sur une ligne le checker */
.input-container { 
  display: flex; /* Définit l'affichage en flexbox */
  align-items: center; /* Aligne les éléments au centre verticalement */
}

.validation-indicator { 
  display: none; /* Masque l'indicateur de validation par défaut */
  color: green; /* Définit la couleur du texte en vert */
  font-weight: bold; /* Met le texte en gras */
  margin-left: 10px; /* Ajoute une marge à gauche de 10px */
}

.validation-indicator.valid { 
  display: inline; /* Affiche l'indicateur de validation quand il a la classe 'valid' */
}

/* Styles pour les deux modales */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #232323;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  position: relative;
  max-height: 700px;
  height:700px;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align:right;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.success-message {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 20px;
}

.close-button {
  background-color: #fe142f;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  width:183px;
  align-self: center;
}

.close-button:hover {
  background-color: #c33;
}

/* Styles spécifiques pour la modale de succès */
.success-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #232323;
  border: 1px solid #888;
}