.topnav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 33px 0;
	background-color: #fff;
	flex-wrap: wrap;
}

.header-logo
{
	display: flex;
	align-items: center;
}

.main-navbar
{
	display: flex;
	align-items: center;
}

a
{
	float: left;
	display: block;
	color: #000000;
	text-align: center;
	padding: 12px 12px;
	margin: 5px;
	text-decoration: none;
	font-size: 20px;
	font-family: Roboto, sans-serif;
}

a:hover
{
	background-color: #ff0000;
	color: #ffffff;
	border-radius: 15px;
}

a.active
{
	background-color: #ff0000;
	color: #ffffff;
	border-radius: 15px;
}

.icon
{
	display: none;
	color: red;
	flex-shrink: 0;
}

@media screen and (max-width: 768px)
{
	.topnav
	{
		padding: 25px 0;
	}
	a
	{
		display: none;
	}
	.icon
	{
		display: block;
	}
	img#logo
	{
		width: 103px;
		height: 19px;
		margin-top: -15px;
	}
}

@media screen and (max-width: 540px)
{
	a
	{
		display: none;
	}
	.icon
	{
		margin-top: -15px;
		margin-left: 0px;
	}
	img#logo
	{
		width: 103px;
		height: 19px;
		margin-top: -15px;
	}
}

.topnav.responsive
{
	flex-direction: column;
	flex-wrap: nowrap;
}

.topnav.responsive .main-navbar
{
	flex-direction: column;
	align-items: flex-start;
}

.topnav.responsive a
{
	display: block;
	float: none;
	text-align: left;
}

.topnav.responsive .icon
{
	align-self: center;
}

.topnav.responsive img#logo
{
	padding-right: 0px;
}
