.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0;
  background-color: #fff;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    padding: 25px 0;
  }

  .responsive {
    flex-direction: row;
  }

  .header-logo {
    display: flex;
    align-items: center;
  }

  .main-navbar {
    display: flex;
    align-items: center;
  }

  a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 12px 12px;
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: Roboto, sans-serif;

    &:hover {
      background-color: #ff0000;
      color: #ffffff;
      border-radius: 15px;

      @media screen and (min-width: 768px) {

        display: none;
      }
    }

    &.active {
      background-color: #ff0000;
      color: #ffffff;
      border-radius: 15px;
    }
  }

  .icon {
    display: none;
    color: red;
    flex-shrink: 0;
  }

  @media screen and (max-width: 768px) {
    a {
      display: none;
    }

    .icon {
      display: block;
      // margin-left: auto; // Ensures the icon stays at the right edge
    }

    img#logo {
      width: 103px;
      height: 19px;
      margin-top: -15px;
    }
  }

  @media screen and (max-width: 540px) {
    a {
      display: none;
    }

    .icon {
      margin-top: -15px;
      margin-left: 0px; // Ensures the icon stays at the right edge
    }

    img#logo {
      width: 103px;
      height: 19px;
      margin-top: -15px;
    }
  }

  &.responsive {
    flex-direction: column;
    flex-wrap: nowrap;


    .icon .fa {
      align-self: center;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    .icon .fa a {
      display: block;
      float: none;
      text-align: left;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }


    a {
      display: block;
      float: none;
      text-align: left;
    }

    .main-navbar {
      flex-direction: row;
      flex-wrap: nowrap;

      @media screen and (max-width: 800px) {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }

    img#logo {
      padding-right: 0px;
    }
  }
}