body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: var(--font-default);
	font-size: 18px;
	height:100%;
	// max-width: 1300px;
	// margin: 0 auto;
}

p {
	margin-bottom: 0;
	padding: 0.5vw;
}

img {
	padding-right: 1rem;
}



@keyframes modalopen {
	from {
		opacity: 0;
		transform: translateY(-150px);
	}
	to {
		opacity: 1;
	}
}

.container-center 
{
 max-width:1440px;
 margin: 0 auto;
 padding: 0 30px;
 position:relative;
 z-index: 1;
 height: 100%;
 width:100%;
}

.main
{
flex:1;
}